{
    "vpc": [
        {
            "network_name": "vpc-o-shr-prod",
            "auto_create_subnetworks": false,
            "routing_mode": "GLOBAL",
            "project_id": "prj-o-15032023-prd-shr-nw",
            "delete_routes": false,
            "shared_vpc_host": true
        },
        {
            "network_name": "vpc-o-shr-nonprod",
            "auto_create_subnetworks": false,
            "routing_mode": "GLOBAL",
            "project_id": "prj-o-15032023-nprd-shr-nw",
            "delete_routes": false,
            "shared_vpc_host": true
        }
    ],

    "subnets": [
        {
            "project_id": "prj-o-15032023-prd-shr-nw",
            "network_name": "vpc-o-shr-prod",
            "subnets": [
                {
                    "subnet_name": "sub-euno1-o-shr-prod",
                    "subnet_ip": "10.1.1.0/24",
                    "subnet_region": "europe-north1",
                    "subnet_private_access": true
                },
                {
                    "subnet_name": "sub-euwe1-o-shr-prod",
                    "subnet_ip": "10.1.2.0/24",
                    "subnet_region": "europe-west1",
                    "subnet_private_access": true

                },
                {
                    "subnet_name": "sub-as1-o-shr-prod",
                    "subnet_ip": "10.1.3.0/24",
                    "subnet_region": "asia-south1",
                    "subnet_private_access": true
                }                
            ]
        },
        {
            "project_id": "prj-o-15032023-nprd-shr-nw",
            "network_name": "vpc-o-shr-nonprod",
            "subnets": [
                {
                    "subnet_name": "sub-uscent1-o-shr-nonprod",
                    "subnet_ip": "10.2.1.0/24",
                    "subnet_region": "us-central1",
                    "subnet_private_access": true
                },
                {
                    "subnet_name": "sub-nae1-o-shr-nonprod",
                    "subnet_ip": "10.2.2.0/24",
                    "subnet_region": "northamerica-northeast1",
                    "subnet_private_access": true
                },
                {
                    "subnet_name": "sub-as2-o-shr-nonprod",
                    "subnet_ip": "10.2.3.0/24",
                    "subnet_region": "asia-south2",
                    "subnet_private_access": true
                }               
            ]
        }
    ],

    "router": [
        {
            "create_router": true,
            "router_name": "router-o-shr-nonprod",
            "project_id": "prj-o-15032023-nprd-shr-nw",
            "region": "asia-south2",
            "network": "vpc-o-shr-nonprod"
        }
    ],

    "nat": [
        {
            "project_id": "prj-o-15032023-nprd-shr-nw",
            "region": "asia-south2",
            "nat_name": "nat-o-shr-nonprod",
            "router_name": "router-o-shr-nonprod",
            "nat_ip_allocate_option": "AUTO_ONLY",
            "create_router": true,
            "subnetwork_ranges": "LIST_OF_SUBNETWORKS",
            "subnetworks": [
                {
                    "name": "sub-as2-o-shr-nonprod",
                    "source_ip_ranges_to_nat": ["ALL_IP_RANGES"],
                    "secondary_ip_range_names": null
                }
            ]
        }
    ],

    "global_address": [
    ],

    "private_connection": [
    ],
    
    "firewall": [
        {
            "project_id": "prj-o-15032023-prd-shr-nw",
            "network_name": "vpc-o-shr-prod",
            "rules": [
                {
                    "name": "fw-o-shr-prod-ingress",
                    "description": "Prod VPC Ingress Firewall rule",
                    "direction": "INGRESS",
                    "priority": 1000,
                    "ranges": ["0.0.0.0/0"],
                    "source_tags": [],
                    "source_service_accounts": null,
                    "target_tags": ["prd-ingress-allow"],
                    "target_service_accounts": null,
                    "allow": [
                        {
                            "protocol": "tcp",
                            "ports": ["22","443","3389","80"]
                        },
                        {
                            "protocol": "icmp",
                            "ports": []
                        }
                    ],

                    "deny": [],

                    "log_config": {
                        "metadata": "INCLUDE_ALL_METADATA"
                    }
                },

                {
                    "name": "fw-o-shr-prod-egress",
                    "description": "Prod VPC Egress Firewall rule",
                    "direction": "EGRESS",
                    "priority": 1000,
                    "ranges": ["0.0.0.0/0"],
                    "source_tags": [],
                    "source_service_accounts": null,
                    "target_tags": ["prd-egress-allow"],
                    "target_service_accounts": null,
                    "allow": [
                        {
                            "protocol": "all",
                            "ports": []
                        }
                    ],

                    "deny": [],

                    "log_config": {
                        "metadata": "INCLUDE_ALL_METADATA"
                    }
                }
            ]
        },

        {
            "project_id": "prj-o-15032023-nprd-shr-nw",
            "network_name": "vpc-o-shr-nonprod",
            "rules": [
                {
                    "name": "fw-o-shr-nonprod-ingress",
                    "description": "Non-Prod VPC Ingress Firewall rule",
                    "direction": "INGRESS",
                    "priority": 1000,
                    "ranges": ["0.0.0.0/0"],
                    "source_tags": [],
                    "source_service_accounts": null,
                    "target_tags": ["nprod-ingress-allow"],
                    "target_service_accounts": null,
                    "allow": [
                        {
                            "protocol": "tcp",
                            "ports": ["22","443","3389","80"]
                        },
                        {
                            "protocol": "icmp",
                            "ports": []
                        }
                    ],

                    "deny": [],

                    "log_config": {
                        "metadata": "INCLUDE_ALL_METADATA"
                    }
                },

                {
                    "name": "fw-o-shr-nonprod-egress",
                    "description": "Non-Prod VPC Egress Firewall rule",
                    "direction": "EGRESS",
                    "priority": 1000,
                    "ranges": ["0.0.0.0/0"],
                    "source_tags": [],
                    "source_service_accounts": null,
                    "target_tags": ["nprd-egress-allow"],
                    "target_service_accounts": null,
                    "allow": [
                        {
                            "protocol": "all",
                            "ports": []
                        }
                    ],

                    "deny": [],

                    "log_config": {
                        "metadata": "INCLUDE_ALL_METADATA"
                    }
                }
            ]
        }
    ]
}
